{%  extends "Home_Business/base.html"  %}
{%  block content   %} 
            
     <article class="media content-section">
          <img class="rounded-circle article-img" src="{{  object.author.profile.image.url  }}">
              <div class="media-body">
                <div class="article-metadata">
                 <a class="mr-2">{{ object.author }}</a>
                 <small class="text-muted">{{ object.dateposted }}</small>
                 {% if object.author == user %}
                 <div>
                  <a class= "btn btn-secondary btn-sm mt-1 mb-1" href="{%  url 'Accept-Update' object.id  %}">Update</a>
                  <a class= "btn btn-danger btn-sm mt-1 mb-1" href="{%  url 'Accept-Delete' object.id  %}">Delete</a>
                 </div>
                 {% endif %}
               </div>
          <p class="article-Message">{{ post.Message }}</p>

          <p class="article-Business_username">Send this feedback to: {{ object.Business_username }}</p>   
          <a class="btn btn-outline-secondary" href="{% url 'LikhanapFeedback' %}" role="button">GO BACK TO HOMEPAGE</a>
     </br>
             </div>
             
      </article>
           
{%  endblock content   %} 
   