{%   load static   %}

<!DOCTYPE html>
<html>
  

        <head>
                        <!-- Required meta tags -->
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
                    
                        <!-- Bootstrap CSS -->
                        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                        <link rel="stylesheet" type="text/css" href="{% static 'Home_Business/main.css' %}">
                        <link rel="stylesheet" type="text/css"  href="{% static 'Home_Business/style.css' %}">
                        
                       
                {% if title %}
                <title> LikHanap - {{title}}</title>
                {% else %}
                <title>LikHanap </title>
                {% endif %}
        </head>
        <body>
             <header class="site-header">
                
                        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                            
                          <div class="container">
                              {% if user.is_authenticated  %}
                                <a class="navbar-brand mr-4" href="{% url 'LikHanap-Business' %}"> 
                              {% else %}3
                                <a class="navbar-brand mr-4" href="{% url 'prehome' %}">
                              {% endif %} 
                              <span class='span-logo'> 
                                <img src="/media/LikHanap Logo.png" height="50" width="200" class="center">
                            </span></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarToggle">
                              <div class="navbar-nav mr-auto">
                                
                                {% if user.is_authenticated and user.usertype == 'business'  %}
                                <a class="active" href="#">Feedbacks</a>          
             </div>
                                        {% else %}
                                {% endif %}
                            </div>
                          </div>
                        </nav>
                      </header>
                      <main role="main" class="container">
                            <div class="row">
                              <div class="col-md-8">
                                {%  if messages  %}
                                    {%  for message in messages  %}
                                        <div class="alert alert-{{ message.tags }}">
                                             {{ message }}
                                            </div>
                                    {%  endfor  %}
                                {%  endif  %}
                                {% block content %}
    
    {% if user.is_authenticated and user.usertype == 'business' %}

    <div class="jumbotron jumbotron-fluid  ">
      
              <div class="container col-lg-15 text-white">
    </br>
    <form >
      <div class="searchBox">
      <input class="searchInput "type="search" name="q" placeholder="Search...." value={{query}} >
      <button class="searchButton" type="submit">
        <i class="material-icons">
          search
        </i>
        </button>
        </div>
        </form>
      <img img src="{%static 'Home_Business/Feedback.png'%}" alt="Image" height="240" width="755" style="margin:-87px 0px -60px -25px;" type="image"> </img>      
 
      </div>
          </div>
<style>
h2 {
                        text-align: center;
                      text-transform: uppercase;
                      color: rgb(24, 185, 123);
                    }
</style>
</br>

<h2 class = "mb-3">Freelance Artist Feedbacks</h2>
</br>
{% for post in feedback %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{  post.author.profile.image.url  }}">
      <div class="media-body">
        <div class="article-metadata">
         <small class="text-muted"><b>{{ post.author }}</b> | {{ post.dateposted }}</small>
       </div>
      </br>
  <p class="article-Comment">{{ post.Comment }}</p>
</br>
     </div>
</article>

{% endfor %}

<a class="btn btn-outline-secondary" href="{% url 'LikHanap-Freelance' %}" role="button">Go Back</a> 

      {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">|<<</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>>|</a>
      {% endif %}
    {% endif %}
{% endif %}


{% endblock %}
                              </div>

                                    {% if user.is_authenticated and user.usertype == 'business' %}
                                    <div class="col-md-4">
                                      <img img src="{%static 'Home_Business/FeedbackSection.png'%}"  alt="Image" height="640" width="340"> </img>
                                     </div>
                                    {% endif %}
                                  </p>
                                </div>
                              </div>
                            </div>
                          </main>
            <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">LIKHANAP</h6>
          <p>.</p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Businesses</h6>
          <p>
            <a href="#!">Sole Proprietor 1</a>
          </p>
          <p>
            <a href="#!">Sole Proprietor 2</a>
          </p>
          <p>
            <a href="#!">Sole Proprietor 3</a>
          </p>
          <p>
            <a href="#!">More</a>
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Freelancers</h6>
          <p>
            <a href="#!">Graphic Illustrators</a>
          </p>
          <p>
            <a href="#!">Web designers</a>
          </p>
          <p>
            <a href="#!">Artists</a>
          </p>
          <p>
            <a href="#!">More</a>
          </p>
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> Malolos, Bulacan</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> LikHanap@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> 09224893158</p>
          <p>
            <i class="fas fa-print mr-3"></i> 09777419617</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
  
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
  
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
  
        
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
  
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  <!-- Footer -->
  </body>

        </body> 
</html>
