{%  extends "Home_Business/base.html"  %}
{%   load static   %}
{%  block content   %} 
{% if user.is_authenticated and user.usertype == 'freelance' %}
<div class="jumbotron jumbotron-fluid  ">
  <div class="container text-center text-lg-left">
    
      <div class="container col-lg-15 text-white">
          <h1 class="display-2 text-white">Connection with Freelance Artists<span class="highlight-word"> made easier!</span></h1>
  <p class="lead">A platform for connecting freelance graphic artists and web designers to sole proprietors and linking local artists to local consumers.</p>
        <span class="text-center d-inline-block">
          <a class="btn btn-primary btn-lg w-100 lead" href="{% url 'Portfolio-Create' %}" role="button">Post an application</a>        
          <p class=" lead text-white">Create now!</p>
        </span>
      </div>
          <video  autoplay="true" loop="loop" preload="metadata" muted="muted" >
              <source src="{%static 'Home_Business/jumbotron_clip.mp4'%}" type="video/mp4" />
            </video>   
    </div>
</div>
{% endif %}
{% if user.is_authenticated and user.usertype == 'business' %}
<div class="jumbotron jumbotron-fluid  ">
  <div class="container text-center text-lg-left">
    
      <div class="container col-lg-15 text-white">
          <h1 class="display-2 text-white">Connection with Freelance Artists<span class="highlight-word"> made easier!</span></h1>
  <p class="lead">A platform for connecting freelance graphic artists and web designers to sole proprietors and linking local artists to local consumers.</p>
        <span class="text-center d-inline-block">
          <a class="btn btn-primary btn-lg w-100 lead" href="{% url 'Post-Create' %}" role="button">Post a project commission</a>
        <p class=" lead text-white">Create now!</p>
        </span>
      </div>
          <video  autoplay="true" loop="loop" preload="metadata" muted="muted" >
              <source src="{%static 'Home_Business/jumbotron_clip.mp4'%}" type="video/mp4" />
            </video>   
    </div>
</div>
{% endif %}
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{% url 'Logo-Project' %}">Logo</a>
  <a href="{% url 'Ad-Project' %}">Advertisement</a>
  <a href="{% url 'Brandtag-Project' %}">Brand Taglines</a>
  <a href="{% url 'Visual-Project' %}">Visual Arts</a>
  <a href="{% url 'Interior-Project' %}">Interior Designs</a>
  <a href="{% url 'LikHanap-Business2' %}">LikHanap Verified</a>

</div>

<div id="main">
  
  <p>Check out all the categories to see what you're looking for.</p>
  <h1 style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Categories</h1>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>

</br>


      <h1 class = "mb-3">Interior Design's Category</h1>
      {% for post in interiorproject %}
      {% if post.category == "INTERIOR DESIGN" %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{  post.author.profile.image.url  }}">
              <div class="media-body">
                <div class="article-metadata">
                  
                  <a class="mr-2" href="{%  url 'user-posts' post.author.username   %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.dateposted }}</small>
                </div>
                {% if user.is_authenticated and user.usertype == 'freelance' %}{% if post.verified  == 'False' %}
                <h2><a class="article-title" href="{% url 'Post-Detail' post.id %}">{{ post.title }}</a></h2>
                {% elif post.verified  == 'True' %}
                <h2><a class="article-title" href="{% url 'VerifiedPost-Detail' post.id %}">{{ post.title }}</a></h2>
                {% endif %}
                <p class="article-content">{{ post.content }}</p>
                <p class="article-category">{{ post.category }}</p>
                <p class="article-location">{{ post.city }}, {{ post.street }}</p>
                <a class="btn btn-primary btn-lg w-20 lead" href="{% url 'Apply-Create' %}" role="button">Apply</a>
                {% endif %}
                {% if user.is_authenticated and user.usertype == 'business' %}
                {% if post.verified  == 'False' %}
                    <h2><a class="article-title" href="{% url 'Post-Detail' post.id %}">{{ post.title }}</a></h2>
                    {% elif post.verified  == 'True' %}
                    <h2><a class="article-title" href="{% url 'VerifiedPost-Detail' post.id %}">{{ post.title }}</a></h2>
                    {% endif %}
                <p class="article-content">{{ post.content }}</p>
                <p class="article-category">{{ post.category }}</p>
                <p class="article-location">{{ post.city }}, {{ post.street }}</p>
                {% endif %}
              </div>
              {% endif %}   
            </article>
      {% endfor %}
          {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">|<<</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>>|</a>
      {% endif %}
     
    {% endif %}
{%  endblock content   %} 
   