{%  extends "Home_Business/base.html"  %}
{%   load static   %}
{%  block content   %} 

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'Home_Business/main.css' %}">
  <link rel="stylesheet" type="text/css"  href="{% static 'Home_Business/style.css' %}">
  
 
{% if title %}
<title> LikHanap - {{title}}</title>
{% else %}
<title>LikHanap </title>
{% endif %}
</head>
<body>
<header class="site-header">

  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      
    <div class="container">
        {% if user.is_authenticated  %}
          <a class="navbar-brand mr-4" href="{% url 'LikHanap-Business' %}"> 
        {% else %}3
          <a class="navbar-brand mr-4" href="{% url 'prehome' %}">
        {% endif %} 
        <span class='span-logo'> 
          <img src="/media/LikHanap Logo.png" height="50" width="200" class="center">
      </span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          
          {% if user.is_authenticated and user.usertype == 'freelance'  %}
          <a class="nav-item nav-link" href="{% url 'LikHanap-HomeStatus' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'findproject' %}">Find Projects</a>
          <a class="nav-item nav-link" href="{% url 'LikHanap-Bids' %}">Invites</a>
          <a class="nav-item nav-link" href="{% url 'Help-Center' %}">Help Center</a>
 
                                  
                                 
                                      </div>
                                
          {% endif %}
          {% if user.is_authenticated and user.usertype == 'freelance'  %}
          <!-- Navbar Right Side -->

          <div class="navbar-nav">
            {%  if user.is_authenticated  %}
            <a class="nav-item nav-link " href="{% url 'Profile-View' %}">Welcome! {{ user.name }}</a>
            <!--<a class="nav-item nav-link " href="{% url 'Post-Create' %}">New Project</a> -->
            <a class="nav-item nav-link" href="{% url 'Employ' %}">Inbox</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {%  else  %}
            <!--<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a> -->
            {%  endif  %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {%  if messages  %}
                {%  for message in messages  %}
                    <div class="alert alert-{{ message.tags }}">
                         {{ message }}
                        </div>
                {%  endfor  %}
            {%  endif  %}
         {%  endif  %}         
        </div>
</main>
</body>
</head>
<article class="media content-section">
<div class="media-body">
</br>
  <h6>Hi {{ user.name }}!</h6>
</br>
  <h6>Thank you for registering to Likhanap.</h6>
</br>
  <h6>As a prerequisite before you can apply as one of the likhanap artists, We provided </h6><h6>a short pre-screening interview to ensure that you have the basic requirements for the projects</h6> that we are going to offer.</h6>
</br>
</br>
  <h6>Just click on the proceed button to begin on your interview.</h6>  
</br>
</br>
<a class="btn btn-outline-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSdNJD__4vxkk7yKq6Goa2NGiSATXsFiBdRWTrtqYFAbW8B-fA/viewform" role="button">Proceed &raquo;</a>
</br>
</br>
   <h6>Goodluck!</h6>  
  </br>
   <h6> Kind regards.</h6>  
    
   <h6>Likhanap Team</h6>
</div>
</article>              

<a class="btn btn-primary btn-sm mt-2 mb-2" href="{% url 'LikHanap-HomeStatus' %}" role="button">Back &laquo;</a>
</br>
  
    
            {% if is_paginated %}
      
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}

          {% endif %}
      
{%  endblock content   %} 
   