{%  extends "Home_Business/base.html"  %}
{%   load static   %}
{%  block content   %} 
<div class="jumbotron jumbotron-fluid  ">
  <div class="container text-center text-lg-left">
    
      <div class="container col-lg-15 text-white">
          <h1 class="display-2 text-white">Connection with Freelance Artists<span class="highlight-word"> made easier!</span></h1>
  <p class="lead">A platform for connecting freelance graphic artists and web designers to sole proprietors and linking local artists to local consumers.</p>
        <span class="text-center d-inline-block">
          <a class="btn btn-primary btn-lg w-100 lead" href="{% url 'Post-Create' %}" role="button">Post a project commission</a>
        <p class=" lead text-white">Create now!</p>
        </span>
      </div>
          <video  autoplay="true" loop="loop" preload="metadata" muted="muted" >
              <source src="{%static 'Home_Business/jumbotron_clip.mp4'%}" type="video/mp4" />
            </video>   
    </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="navbar navbar-expand-lg text-center navbar-dark black">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'Logo-Artist' %}">LOGOS</a>
      </div>
    <ul class="nav navbar-nav">
      <li class="inactive"></li><a href="{% url 'Ad-Artist' %}">ADVERTISEMENTS</a></li>
      <li class="inactive"></li><a href="{% url 'Tarpaulin-Artist' %}">TARPAULINS</a></li>
      <li class="inactive"></li><a href="{% url 'Invi-Artist' %}">INVITATIONS</a></li>
      <li class="inactive"></li><a href="{% url 'Interior-Artist' %}">INTERIORS</a></li>
    </ul>
  </div>
</nav>
</br>

      <h1 class = "mb-3">Tarpaulin Layout's Category</h1>
      {% for post in tarpartist %}
      {% if post.category == "TARPAULIN LAYOUT" %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{  post.author.profile.image.url  }}">
              <div class="media-body">
                <div class="article-metadata">
      
                  <a class="mr-2">{{ post.author }}</a>
                  <small class="text-muted">{{ post.dateposted }}</small>
                </div>
                
                <h2><a class="article-Expertise" href="{% url 'Portfolio-Detail' post.id %}">{{ post.Expertise }}</a></h2>
                <p class="article-Background">{{ post.Background}}</p>
                <p class="article-category">{{ post.category}}</p>
                <p class="article-location">{{ post.location }}</p>
                <a class="btn btn-primary btn-lg w-20 lead" href="{% url 'Bid-Create' %}" role="button">Offer</a>
                
              </div>
              {% endif %}   
            </article>
      {% endfor %}
          {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">|<<</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>>|</a>
      {% endif %}
     
    {% endif %}
{%  endblock content   %} 
   