{%  extends "Home_Business/base.html"  %}
{% load crispy_forms_tags %}
{%   load static   %}
{%  block content   %} 

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'Home_Business/main.css' %}">
  <link rel="stylesheet" type="text/css"  href="{% static 'Home_Business/style.css' %}">
  
 
{% if title %}
<title> LikHanap - {{title}}</title>
{% else %}
<title>LikHanap </title>
{% endif %}
</head>
<body>
<header class="site-header">

  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      
    <div class="container">
        {% if user.is_authenticated  %}
          <a class="navbar-brand mr-4" href="{% url 'LikHanap-Business' %}"> 
        {% else %}3
          <a class="navbar-brand mr-4" href="{% url 'prehome' %}">
        {% endif %} 
        <span class='span-logo'> 
          <img src="/media/LikHanap Logo.png" height="50" width="200" class="center">
      </span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          
           {% if user.is_authenticated and user.usertype == 'business'  %}
           <a class="nav-item nav-link" href="{% url 'LikhanapFeedback' %}">Home</a>
           <a class="nav-item nav-link" href="{% url 'findartists' %}">Artists</a>
           <a class="nav-item nav-link" href="{% url 'LikHanap-Projects' %}">Projects</a>
           <a class="nav-item nav-link" href="{% url 'LikHanap-Apply' %}">Applicants</a>
           <a class="nav-item nav-link" href="{% url 'LikHanap-Bids' %}">Project Status</a>
           <a class="nav-item nav-link" href="{% url 'Help-Center' %}">Help Center</a>

</div>
                   {% else %}
           {% endif %}
           {% if user.is_authenticated and user.usertype == 'business'  %}
           <!-- Navbar Right Side -->

         <div class="navbar-nav">
           {%  if user.is_authenticated  %}
           <a class="nav-item nav-link " href="{% url 'Profile-View' %}">Welcome! {{ user.name }}</a>
           <!--<a class="nav-item nav-link " href="{% url 'Post-Create' %}">New Project</a> -->
           <a class="nav-item nav-link" href="{% url 'Accept' %}">Inbox</a>
           <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
           {%  else  %}
           <!--<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
           <a class="nav-item nav-link" href="{% url 'register' %}">Register</a> -->
           {%  endif  %}
         </div>
       </div>
     </div>
   </nav>
 </header>
 <main role="main" class="container">
       <div class="row">
         <div class="col-md-8">
           {%  if messages  %}
               {%  for message in messages  %}
                   <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                       </div>
               {%  endfor  %}
           {%  endif  %}
        {%  endif  %}
</div>
</main>
</body>
</head>
{% if user.is_authenticated and user.usertype == 'business'  %}
<article class="media content-section">
<div class="media-body">
</br>
  <h6>Congratulations on your new Likhanap Project!</h6>
</br>
  <h6>To cover the arrangements and agreed-upon terms made between you and your artist, Likhanap will provide a contract agreement to protect both parties.</h6>
</br>
  <b>For Web Design Contract Agreement:</b>
</br>
</br>
  <p>We ask that you agree to the contract before you start on your web design project.</p>  
</br>
<b>What you, the Sole Proprietor, agrees to…</b>
  </br> 
  </br>
  <p>Pay the Designer the Total Cost of their settled rate agreement. Fifty percent of the payment is non-refundable and is due at the time this agreement is signed. Final payment is due upon the Designer completing the website, and obtaining the Owner’s approval that the Services have been fulfilled as per the Agreement.</p>  
  </br> 
  <b>Details...</b>
  </br> 
  </br>
  <b>Ownership:  </b>
  </br> 
  </br>
  <p>The Owner will own all of its proprietary information as included in the Services, as well as all source code, object code, screens, documentation, digital programming, operating instructions, design concepts, content, graphics, domain names, hosting characters, stored data, and reports and notes prepared by the Designer.</p>
  </br>
  </div>
</article>              
</br>
    
            {% if is_paginated %}
      
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}

          {% endif %}
          {% endif %}
          
          <div class="content-section">
            <form method="POST" enctype="multipart/form-data">
                {%  csrf_token    %}                
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Fill out all the information needed</legend>
                    {{   form|crispy   }}
    
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
                
    </div>
    {%  endblock content   %} 
   